    name: CI - Builds and pushes Docker image

    on:
      push:
        branches: [ "main", "master" ]
      pull_request:
        branches: [ "main", "master" ]


    jobs:
      build:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v4

          - name: Log in to Docker Hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}

          - name: Build and push Docker image
            uses: docker/build-push-action@v5
            with:
              context: .
              push: true
              tags: erista98/social-media-project-image:latest




